<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="app">
    <div class="container" ng-controller="loginController">
        <nav class="navbar fixed-top navbar-expand navbar-light" ng-controller="navbarController">
            <div class="container bg-secondary" id="navlinks">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="nav nav-pills flex-column flex-sm-row">
                    <li class="nav-item"><a class="bg-secondary text-warning nav-link" ui-sref="home.signup" ng-show="!loggedIn" ng-hide="loggedIn">Sign up</a></li>
                    <li class="nav-item"><a class="bg-secondary text-success nav-link" ui-sref="home.login" ng-show="!loggedIn" ng-hide="loggedIn">Login</a></li>
                    <li class="nav-item"><a class="bg-secondary text-light nav-link" ui-sref="user.dashboard" ng-show="loggedIn" ng-hide="!loggedIn">Dashboard</a></li>
                    <li class="nav-item"><a class="bg-secondary text-light nav-link" ui-sref="user.users" ng-show="isAdmin=getAdminCookie()">Users</a></li>
                    <li class="nav-item"><a class="bg-secondary text-light nav-link" ui-sref="user.roles" ng-show="isAdmin=getAdminCookie()">Roles</a></li>
                </ul>

                <ul class="nav nav-pills flex-column flex-sm-row">
                    <li class="nav-item">
                        <button class="bg-secondary text-light border-0 nav-link" data-ng-click="Logout()" ng-show="loggedIn" ng-hide="!loggedIn">Log off</button>
                    </li>
                </ul>

            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer fixed-bottom">
        <div class="container bg-secondary text-light">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular/plugins")
    @Styles.Render("~/Content/datatables/css")
    @Scripts.Render("~/bundles/datatables")

    <script src="~/Scripts/app/appModule.js"></script>
    <script src="~/Scripts/app/directives/directives.js"></script>
    <script src="~/Scripts/app/routes.js"></script>
    <script src="~/Scripts/app/services/loginService.js"></script>
    <script src="~/Scripts/app/services/authService.js"></script>
    <script src="~/Scripts/app/services/signupService.js"></script>
    <script src="~/Scripts/app/services/userService.js"></script>
    <script src="~/Scripts/app/services/roleService.js"></script>
    <script src="~/Scripts/app/services/timeService.js"></script>
    <script src="~/Scripts/app/controllers/loginController.js"></script>
    <script src="~/Scripts/app/controllers/signupController.js"></script>
    <script src="~/Scripts/app/controllers/userController.js"></script>
    <script src="~/Scripts/app/controllers/roleController.js"></script>
    <script src="~/Scripts/app/controllers/navbarController.js"></script>
    <script src="~/Scripts/app/controllers/timeController.js"></script>
    <script src="~/Scripts/app/datatables/usersGrid.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
